*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --home_h1_h2: rgb(58, 119, 211);
    --logo_bg: rgb(134, 127, 127);
    --modal_bg: white;
    --modal_shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --nav_bg: white;
    --nav_shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --body_bg: rgb(240, 241, 255);
    --card_bg: white;
    --profile_logo_bg: rgb(58, 119, 211);
    --profile_logo_color: black;
}
body.dark-mode {
    --body_bg: #081B33;
    --nav_bg: #081B33;
    --card_bg: #2F4562;
    --profile_logo_bg: black;
    --logo_bg: black;
    --modal_bg: #081B33;
    --modal_shadow: rgb(255 255 255 / 25%) 0px 6px 12px -2px, rgb(108 108 108 / 30%) 0px 3px 7px -3px;
    --nav_shadow: rgb(255 255 255 / 25%) 0px 6px 12px -2px, rgb(108 108 108 / 30%) 0px 3px 7px -3px;
    --home_h1_h2: white;
    --profile_logo_bg: black;
    --profile_logo_color: white;
  }
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav_bg);
    z-index: 99;
    box-shadow: var(--nav_shadow);
}
.company_name h1{
    color: var(--home_h1_h2);
}
.nav_impotent_selction{
    display: flex;
    align-items: center;
}
.dropdown_manu{
    cursor: pointer;
}
.dropdown_manu h2{
    color: var(--home_h1_h2);
    cursor: pointer;
    margin: 10px 10px;
}
.profile_section{
    color:white;
    border-radius: 200px;
    background-color: var(--logo_bg);
    padding: 8px 4px;
    cursor: pointer;
}
.profile_section h2{
    font-size: 16px;
}
.default_section{
    position: absolute;
    top: 47px;
    left: 0px;
    z-index: 999;
    display: none;
}
.default_section_ul{
    background-color: var(--modal_bg);
    display: flex;
    box-shadow: var(--modal_shadow);
    color: var(--profile_logo_color);
}
.default_section_ul li{
    list-style: none;
    margin: 5px 5px;
    font-size: 14px;
}
.default_product_list{
    padding: 5px 0px;
    cursor: pointer;
}
.default_product_list:hover{
    text-decoration: underline;
}
.default_section_ul li h2{
    font-size: 16px;
}
.dropdown_manu:hover ~ .default_section{
    display: block;
}
.default_section:hover{
    display: block;
}
.body{
    background-color: var(--body_bg);
    width: 100%;
    height: 93.3vh;
}
.profile_view{
    position: absolute;
    overflow: hidden;
    right: 0px;
    width: 300px;
    height: 340px;
    background-color: var(--card_bg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}
.profile_logo{
    text-align: center;
    margin: 40px 10px;
}
.profile_logo_text{
    display: inline;
    padding: 20px 20px;
    border-radius: 50%;
    color:var(--profile_logo_color);
    background-color: var(--profile_logo_bg);
}
.user_name{
    text-align: center;
    color:var(--profile_logo_color);
}
.user_email{
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 600;
    color:var(--profile_logo_color);
}
.dark_mode{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.dark_mode_title{
    list-style: none;
    font-size: 17px;
    font-weight: 700;
    color: var(--profile_logo_color);
}
.btn{
    display: inline-block;
    background-color: rgb(160, 160, 160);
    width: 60px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 25px;
    height: 24px;
    border-radius: 200px;
    margin: 3px;
    transition: all 0.3s ease;
}
.dark_mode_button input:checked + .btn{
    background-color:  rgb(58, 119, 211);
}
.dark_mode_button input:checked + .btn::before{
    transform: translateX(30px);
}
.dark_mode_button input{
    display: none;
}
.log_out_card{
    display: flex;
    justify-content: center;
}
.log_out_card button{
    outline: none;
    border: none;
    padding: 5px 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(236, 89, 89);
    border-radius: 5px;
    cursor: pointer;
}
