*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:end;
    align-items: center;
    /* background-color: #F2D2BD; */
    background-image: url(../publics/assets/login-bg.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Heading{
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 20px;
    color: white;
    text-align: right;
    font-family: sans-serif;
}
.form,.login{
    padding: 20px 20px;
    /* background: #861332;*/
    background: transparent;
    color: white;
    border-radius: 20px;
    width: 400px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.h1_div{
    text-align: center;
}
.h1_div h1{
    font-size: 34px;
    padding: 10px 0px;
    color: #e2ebff;
}
div input{
    font-size: 20px;
    width: 100%;
    margin: 10px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
}
.label_div{
    padding: 6px 0px;
}
div label{
    color: #e2ebff;
    font-size: 20px;
}
#user_birthdate{
    width: 50%;
}
.gen{
    border: none;
    padding-right: 30px;
}
#gender{
    border-radius: 5px;
    width: 40%;
    font-size: 22px;
    margin: 10px 0px;
}
.compo_data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#login{
    border-radius: 20px;
    padding: 10px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.5s ease;
}
#login:hover{
    background-color: #21007c;
    color: #e2ebff;
}
.loin_page{
    color: #e2ebff;
    font-size: 20px;
    display: flex;
}
.loin_page a{
    font-weight: bold;
    text-decoration: none;
    color: #e2ebff;
    margin-left: 4px;
    transition: all .3s ease-in;
}
.loin_page a:hover{
    color: rgb(61, 97, 255);
}